<div class="bar-chart-container"></div>
<%= javascript_pack_tag 'bar_chart' %>

<div class="line-chart-container"></div>
<%= javascript_pack_tag 'line_chart' %>

<div class="pie-chart-container"></div>
<%= javascript_pack_tag 'pie_chart' %>